/*
 * Nextflow configuration file for Peptide BLAST workflow
 */

// Default parameters
params {
    // Input files
    query = "${baseDir}/assets/blast_query_peptide/*.fasta"
    raw_db_fasta = "${baseDir}/assets/blast_peptide_db/*.fasta"

    // Analysis parameters
    identity_threshold = 50

    // Output directory
    output_dir = "${baseDir}/results"
    
    // BLAST parameters
    evalue = 100
    num_threads = 4
}

// Load configs for DSL2 module specific options
includeConfig "conf/base.config"
includeConfig "conf/modules.config"