params {
    // Database settings
    db_name = "blast_db"

    // BLAST parameters
    blast_outfmt = '10 qseqid sseqid pident nident length qcovs qstart qend sstart send gaps evalue staxids sacc'
}

process {
    // Process-specific settings
    withName: PREPARE_DATABASE_FASTA {
        container = 'archerkuo/nextflow-biopython:1.0.0'
        publishDir = [
            path: "${params.output_dir}/database",
            mode: 'copy',
            overwrite: true
        ]
    }
    
    withName: CREATE_BLAST_DATABASE {
        container = 'ncbi/blast:2.17.0'
        publishDir = [
            path: "${params.output_dir}/database",
            mode: 'copy',
            overwrite: true
        ]
    }
    
    withName: BLAST_SEARCH {
        container = 'ncbi/blast:2.17.0'
        cpus = "${params.num_threads}"
        publishDir = [
            path: "${params.output_dir}/blast",
            mode: 'copy',
            overwrite: true
        ]
    }
    
    withName: ANALYZE_BLAST_RESULTS {
        container = 'rocker/tidyverse:4.5.1'
        publishDir = [
            path: "${params.output_dir}/analysis",
            mode: 'copy',
            overwrite: true
        ]
    }
    
    withName: MERGE_MULTIPLE_RESULTS {
        container = 'rocker/tidyverse:4.5.1'
        publishDir = [
            path: "${params.output_dir}/final",
            mode: 'copy',
            overwrite: true
        ]
    }
}